*, body, html {
  background: -webkit-gradient(linear, left top, right bottom, from(#293465), to(#ffffff));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}